html {
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
}

.post {
    background-color: white;
    max-width: 815px;
    display: flex;
}

.post-media-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-media {
    position: relative;
    height: 600px;
}

.bloops {
    margin: 4px 45%;
    font-size: 30px;
    letter-spacing: -3px;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0px;
}

.bloop-selected {
    color: white;
}

.post-header {
    padding: 20px 16px;
    line-height: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-details {
    max-width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 16px;
}

strong {
    font-weight: 600;
}

.username:hover {
    text-decoration: underline;
    cursor: pointer;
}

#location {
    color: black;
    margin-bottom: 0px;
}

.post-header-content {
    display: flex;
    align-items: center;
}

.post-comments {
    height: 375px;
    overflow: scroll;
}

.description {
    display: flex;
    padding: 16px;
}

.comment {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 16px 16px;
}

.comment-lh {
    display: flex;
}

.comment-text {
    margin: 0px;
}

.comment-footer, .comment-reply {
    font-size: 12px;
    color: dimgray;
}

.comment-reply {
    font-weight: 600;
    text-decoration: none;
    margin-left: 10px;
}

.heart {
    margin: 12px 0 0 16px;
}

.heart-filled {
    cursor: pointer;
    width: 13px;
    stroke: black;
    stroke-width: 3px;
    fill: white;
}

input[type="checkbox"]:checked + .heart-filled {
    stroke-width: 0px;
    fill: red;
}

.heart-filled:hover {
    stroke: red;
}

/* hide the original checkbox */
.like-checkbox {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
  }

.newcomment {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.newcomment label {
    display: none;
}

.newcomment-lh {
    display: flex;
    justify-content: start;
}

#newcomment-input {
    font-size: 14px;
    color: dimgray;
    border: none;
    margin-left: 16px;
}

button {
    background-color: white;
    border: none;
    color: dodgerblue;
    font-size: 15px;
    padding: 0px;
}

.icon {
    cursor: pointer;
}

.toolbar {
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
}

.interactions {
    display: flex;
    justify-content: space-between;
}

.interactions-lh {
    display: flex;
}

.interactions-lh .icon {
    margin-right: 14px;
}

.post-likes-date {
    display: flex;
    margin-top: 8px;
}

.post-likes-date .profile-img {
    margin-right: 6px;
}

.has-border-bottom {
    border-bottom: 1px solid #e4e4e4;
}

.is-small {
    width: 20px;
    height: 20px;
}

.is-subtext {
    font-size: 12px;
    color: dimgray;
}

.is-smallsubtext {
    font-size: 10px;
    color: dimgray;
    text-transform: uppercase;
    margin-bottom: 0px;
}

@media (max-width: 815px) { 
    .post {
        flex-direction: column;
    }

    .post-details {
        max-width: 815px;
    }

    .post-media {
        height: auto;
    }

    .post-media-img {
        width: 100%;
    }
}